
App_Design/.vs/JetOp/v17/Browse.VC.opendb
App_Design/.vs/JetOp/v17/Browse.VC.db-shm
App_Design/.vs/JetOp/v17/Browse.VC.db-wal
App_Design/.vs/JetOp/FileContentIndex/ca06d9c9-fc86-47db-bf21-c4059aa52ffa.vsidx
# Ignore Visual Studio temporary files and cache
App_Design/.vs/
*.VC.db
*.ipch
bin/
obj/
*.suo
*.tlog